<h2> Welcome login here:</h2>
<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<form action="/sessions" method="post">
  <label>Email:</label>
  <input type="email" name="email">
  <label>Password:</label>
  <input type="password" name="password">
  <input type="submit" value="Login">
</form>
