<% # THIS IS A USER CHECK THAT WILL SHOW USERNAME OR LOGIN BUTTON %>

<% if current_user %>
  <a href=/commanders/<%= current_user.id %>><%= current_user.first_name %> <%= current_user.last_name %></a> |
  <a href=/sessions/delete>logout</a> |
  <a href=/>home</a>
<% else %>
  <a href=/commanders/new>register</a> |
  <a href=/sessions/new>login</a> |
  <a href=/>home</a>
<% end %>
