<div id="mvp_container">
<img id="mvp_img" src="/assets/default_mvp.png" />
<form method="post" enctype="multipart/form-data">
<input type="file" name="myfile">
<br><br>
<input type="submit" name="Upload!">

</form>
</div>
