<div class="container">
<p><a href="/">Back</a></p>

  <form action="/login" method="post">
    <label>Email:</label><br>
    <input type="email" name="commander[email]"><br><br>
    <label>Password:</label><br>
    <input type="password" name="commander[password]">
      <br><br><br>
    <input type="submit" name="submit">
  </form>

  <p><a href="/commanders/new">Or Sign Up Here</a>
</div>
