<div id="com_main">
<h1>Welcome <%= @commander.name %>.</h1>


<h3> HEY YOU MADE IT! </h3>
<% #consider a partial for showing all the mvps by name %>
<% #AND GET A DEFAULT PICTURE FOR EACH PERSON 4 PICTURES TWO MEN TWO WOMEN%>

<form method="post" enctype="multipart/form-data">
<input type="file" name="myfile">
<br><br>
<input type="submit" name="Upload!">

</form>

</div>
