<div class="container">
<p><a href="/">Back</a>
</p>
  <h1>User Login Here!</h1>
  <form action="/login" method="post">
    <label>Email:</label>
    <input type="email" name="email"><br><br>
    <label>Password:</label>
    <input type="password" name="password">
      <br><br><br>
    <input type="submit" name="submit">
  </form>
</div>
